body {
	background-color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.26vmax;
	line-height: 1.9vmax;
	color: #323232;
	/*background-color: #0E226B;*/
	background: rgb(44,83,158);
	background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
	background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 );

}
.wrap {
	width: 75%;
	margin: 0 auto;
	position: relative;
	
}
.header	{
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	height: 100vh;
	max-height: 765px;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/bg-head_1.png);
	padding-top: 7vh;
	padding-bottom: 8vh;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.top-header {
	height: 11vh;
	overflow: hidden;
	
}
.top-logo {
	width: 15vh;
}
.top-call {
	text-transform: uppercase;
	cursor: pointer;
}
.top-call:hover {
	border-bottom: dotted;
	/*text-decoration: underline;*/
}
.bottom-header nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} 
nav li {
	/*display: inline-block;	*/
}
nav li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	
}

.about-wrap {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	background-color: #fff;
}
.about-block {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
	padding-top: 18vh;
	padding-bottom: 22vh;
}
.about-left {
	max-width: 30vw;
}
.about-left p {
	font-size: 3.2vw;
	line-height: 1.1;
	text-transform: uppercase;
}
.about-right {
	width: 27vw;
	padding-right: 1.5vw;
	font-size: 1.1vmax;
    line-height: 1.9vmax;
}
.about-right ol {
	list-style: decimal;
	margin: 6vh 0;
}
.about-right ol li {
	line-height: 1.6;
}
.blue {
	color: #00ABF2;
}
.gallery-wrap {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	background-color: #EEEEEE;
}
.title-block {
	margin: 0 auto 5.5vh;
	z-index: 5;
	width: fit-content;
	position: relative;
    top: -3vh;
}
.title-block h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 3vw;
	margin-bottom: 1.22vh;
	font-weight: 100;
}
.dec {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.line {
	background-color: #00ABF2;
	height: 0.26vh;
	width: 100%;
}
.st01 {
	fill: #00ABF2;
}
.dec-svg {
	width: 2.58vw;	
	margin: 0 0.79vw;
}
.consultation-wrap {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	background-color: #fff;
}

.testimonials-wrap {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	background-color: #EEEEEE;
}

.contacts-wrap {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	background-color: #fff;
}
.gallery-block {
	padding: 0 0 17vh;
}
.gallery-img-top, .gallery-img-mid, .gallery-img-bottom {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 100%;
	height: auto;
	
}
.gallery-img-block img {
	max-width: 100%;
	height: auto;
	
}
.gallery-text-top {
	margin: 1vh 0 4vh;
}
.gallery-button {
	display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-button button {
	color: #fff;
	background-color: #00ABF2;
	border: none;
	font-size: 0.7vw;
	text-transform: uppercase;
	padding: 2.2vh 7vh;
	margin: 3vh 0 0 0;
	cursor: pointer;
}
.gallery-button button:hover {
	background-color: #029DDE;
}
.consalt-text-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	/*flex-wrap: wrap;*/
	padding: 8vh 0 16vh;
}
.consalt-text {
	width: 24.3vw;
}
.consalt-text h4 {
	font-size: 2vw;
	line-height: 6.4vh;
	margin: 0 0 2vw;
	font-weight: 400;
}
.consalt-text p {
	font-size: 0.9vw;
	line-height: 4vh;
	font-weight: 400;
}
.consalt-form {
	width: 20vw;
}
#form-consult input {
	border: none;
	text-align: center;
	width: 100%;
	background-color: #eee;
	height: 6.79vh;
	font-size: 1vw;
	color: #363636;
	text-transform: uppercase;
	margin: 0 0 2vh;
	
}
#form-consult button {
	color: #fff;
	background-color: #00ABF2;
	border: none;
	font-size: 0.7vw;
	text-transform: uppercase;
	padding: 2.2vh 7vh;
	cursor: pointer;
	width: 100%;
	text-align: center;
}
#form-consult button:hover {
	background-color: #029DDE;
}
.testimonials-box-card {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 0 0 10vh 0;
}
.card-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;*/
	align-items: center;
	width: 15.7vw;
	text-align: center; /*для слайдера*/
}
.card-box img {
	max-width: 100%;
	height: auto;
	margin: 0 auto; /*для слайдера*/
}
.card-box h5 {
	font-size: 1vw;
	font-weight: 400;
	margin: 1vh 0 -2.5vh;
}
.card-box i {
	font-size: 0.8vw;
	font-weight: 400;
	color: #696974;
	font-style: italic;
}
.card-box p {
	margin: 0 0 4vh;
}
.card-box .text-many {
	text-align: center;
	font-size: 0.8vw;
	font-weight: 500;
	line-height: 3.5vh;
	width: 16vw;
	margin: 0 auto;
}
.contact-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 0 0 10vh;
}
.contact-left, .contact-right {
	width: 20vw;
}
.contact-left {
	display: flex;
    flex-direction: column;
    height: 48vh;
}
.mail-prgrf {
	margin: 0 0 3vh;
}

.contact-left a {
	text-decoration: none;
	color: #000;
}
.phone-contact {
	font-size: 1.2vw;
}
.addres-contact {
	margin-top: 3vh;
	font-size: 1.2vw;
}
.contact-right input {
	width: 100%;
	background-color: #EEEEEE;
	text-transform: uppercase;
	text-align: center;
	height: 7vh;
	border: none;
	margin-bottom: 1.5vh;
	font-size: 0.8vw;
}
.contact-right textarea {
	width: 100%;
	background-color: #EEEEEE;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 0 0 0;
	border: none;
	font-size: 0.8vw;
}
.contact-right button {
	color: #fff;
	background-color: #00ABF2;
	border: none;
	font-size: 0.7vw;
	text-transform: uppercase;
	padding: 2.2vh 7vh;
	cursor: pointer;
	width: 100%;
	text-align: center;
}
.contact-right button:hover {
	background-color: #029DDE;
}
.logo-footer {
	width: 15vh;
}
.footer-wrap {
	width: 100%;
	max-width: 1260px;
	height: 100vh;
	max-height: 540px;
	margin: 0 auto;
	color: #fff;
	background-image: url(../img/foot-img.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}
.footer-block {
	height: 100vh;
	max-height: 540px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
/*-----------------------------------mehu fixed*/
.top-fix {
	position: fixed;
    top: 0;
     opacity: 0.4; 
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 5vh;
    color: #000;
    z-index: 10;
    padding: 8px 0 0;
    transition: 0.25s easy-in-out;
}
.top-fix a {
	color: #000;
}
.top-fix:hover {
	opacity: 1;
}
/*---------------------------------modal-window*/
#form-call input {
	border: none;
	text-align: center;
	width: 100%;
	background-color: #eee;
	height: 6.79vh;
	font-size: 1vw;
	color: #363636;
	text-transform: uppercase;
	margin: 0 0 2vh;
	
}
#form-call button {
	color: #fff;
	background-color: #00ABF2;
	border: none;
	font-size: 0.7vw;
	text-transform: uppercase;
	padding: 2.2vh 7vh;
	cursor: pointer;
	width: 100%;
	text-align: center;
}
#form-call button:hover {
	background-color: #029DDE;
}
.black-fill {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: rgba(0,0,0,0.6);
}
.modal-box {
	position: fixed;
	top: 20vh;
	width: 27vw;
	left: calc(50% - 19vw);
	z-index: 51;
}
.contant-modal {
	width: 100%;
	background-color: #fff;
	padding: 10%;
}
.close-modal {
	width: 1vw;
	height: 5vh;
	position: absolute;
	top: -7vh;
	fill: #fff;
	right: -21vh;
	cursor: pointer;
}

/*---------------------------header slide on css*/

.header {
	animation: slideshow 10s linear infinite 0s;
	backface-visibility: hidden;
}
@-webkit-keyframes slideshow {
	0%
	 {
		background-image: url(../img/bg-head_1.png);
		animation-timing-function: easy-in-out;	
	}
	50%
	 {
		background-image: url(../img/bg-head_2.png);
		animation-timing-function: easy-in-out;	
	}
	100%
	 {
		background-image: url(../img/bg-head_1.png);
		animation-timing-function: easy-in-out;	
	}
}

/*-----------------------------media*/

/*@media only screen and (max-width: 320px),
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px),

{	
	.modal-box {
	    top: 20vh;
	    width: 40vw;
	    left: calc(50% - 25vw);
	}
	.close-modal {
	    width: 3vw;
	    height: 5vh;
	    top: -7vh;
	    right: -9vh;
	}
	#form-call input {
    	font-size: 3vw;
	}
	#form-call button {
    	font-size: 3vw;
	}
	body {
		font-size: 2.7vmax;
		line-height: 2.9vmax;
	}
	.title-block {
    top: -2vh;
	}
	.title-block h2 {
    	font-size: 5vw;
	}
	.header {
		padding: 5vh 0;
	}
	.bottom-header {
		display: none;
	}
	.top-header {
		height: 60vh;
		flex-direction: column;
		justify-content: space-between;
	}
	.top-phone,
	.top-call {/*
		font-size: 2.8vh;*/
		padding: 1vh 0;
	}
	.top-logo {
    	width: 30vh;
	}
	.about-right {
    	width: 43vw;
    	font-size: 2.7vmax;
    	line-height: 2.9vmax;
    	padding: 0;
	}
	.about-left p {
    	font-size: 5vw;
	}
	.dec-svg {
    	width: 10.58vw;
	}
	.gallery-img-block img {
    	width: 100%;
    	height: auto;
    	padding-bottom: 1vh;
	}
	.gallery-button button {
    	font-size: 3.7vw;
	}
	.consalt-text {
    	width: 37vw;
	}
	.consalt-text h4 {
	    font-size: 3.5vw;
	    line-height: 4.4vh;
	}
	.consalt-text p {
	    font-size: 2.9vw;
	    line-height: 2vh;
	}
	.consalt-form {
    	width: 37vw;
	}
	#form-consult input {
    height: 4vh;
    font-size: 3vw;
    margin: 0 0 1vh;
	}
	#form-consult button {
    font-size: 2.7vw;
    padding: 1.5vh 3vh;
	}
	.card-box h5 {
		font-size: 4vw;
	}
	.card-box p {
		font-size: 3.8vw;
		margin: 2.5vh 0 4vw;
	}
	.card-box i {
		font-size: 3.5vw;
	}
	.card-box .text-many {
		font-size: 2.8vw;
		width: 50vw;
	}
	.contact-box {
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.contact-left, .contact-right {
		width: 37vw;
	}
	.contact-left a {
		font-size: 4vw;
	}
	.phone-contact {
    	font-size: 2.8vw;
	}
	.addres-contact {
    	margin-top: 3vh;
    	font-size: 2.8vw;
	}
	.contact-right input {
    height: 5vh;
    margin-bottom: 1.5vh;
    font-size: 2.8vw;
	}
	.contact-right textarea {
    font-size: 2.8vw;
    height: 8vh;
	}
	.contact-right button {
    font-size: 2.7vw;
    padding: 1.5vh 3vh;
	}
}